/node_modules
/public/hot
/storage/*.key
/storage/framework/cache/data
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.phpunit.result.cache
.editorconfig
/tests/*
/database/.gitignore
composer.lock
artisan
.rnd
public/.htaccess
.gitattributes
package-lock.json
public/css/app.css
public/js/app.js
public/images/vendor/*
public/bower_components/*
